{
  "$schema": "https://www.krakend.io/schema/v2.4/krakend.json",
  "version": 3,
  "name": "dcm-api-gateway",
  "port": 9080,
  "timeout": "2s",
  "endpoints": [
    {
      "endpoint": "/api/v1alpha1/health/providers",
      "method": "GET",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/health",
          "method": "GET",
          "host": ["{{ or (env `SPM_HOST`) `http://service-provider-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/health/catalog",
      "method": "GET",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/health",
          "method": "GET",
          "host": ["{{ or (env `CATALOG_MANAGER_HOST`) `http://catalog-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/health/policies",
      "method": "GET",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/health",
          "method": "GET",
          "host": ["{{ or (env `POLICY_MANAGER_HOST`) `http://policy-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/health/placement",
      "method": "GET",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/health",
          "method": "GET",
          "host": ["{{ or (env `PLACEMENT_HOST`) `http://placement:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/providers",
      "method": "GET",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/providers",
          "method": "GET",
          "host": ["{{ or (env `SPM_HOST`) `http://service-provider-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/providers",
      "method": "POST",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/providers",
          "method": "POST",
          "host": ["{{ or (env `SPM_HOST`) `http://service-provider-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/providers/{providerId}",
      "method": "GET",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/providers/{providerId}",
          "method": "GET",
          "host": ["{{ or (env `SPM_HOST`) `http://service-provider-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/providers/{providerId}",
      "method": "PUT",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/providers/{providerId}",
          "method": "PUT",
          "host": ["{{ or (env `SPM_HOST`) `http://service-provider-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/providers/{providerId}",
      "method": "DELETE",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/providers/{providerId}",
          "method": "DELETE",
          "host": ["{{ or (env `SPM_HOST`) `http://service-provider-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/service-types",
      "method": "GET",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/service-types",
          "method": "GET",
          "host": ["{{ or (env `CATALOG_MANAGER_HOST`) `http://catalog-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/service-types/{serviceTypeId}",
      "method": "GET",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/service-types/{serviceTypeId}",
          "method": "GET",
          "host": ["{{ or (env `CATALOG_MANAGER_HOST`) `http://catalog-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/catalog-items",
      "method": "GET",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/catalog-items",
          "method": "GET",
          "host": ["{{ or (env `CATALOG_MANAGER_HOST`) `http://catalog-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/catalog-items",
      "method": "POST",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/catalog-items",
          "method": "POST",
          "host": ["{{ or (env `CATALOG_MANAGER_HOST`) `http://catalog-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/catalog-items/{catalogItemId}",
      "method": "GET",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/catalog-items/{catalogItemId}",
          "method": "GET",
          "host": ["{{ or (env `CATALOG_MANAGER_HOST`) `http://catalog-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/catalog-items/{catalogItemId}",
      "method": "PATCH",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/catalog-items/{catalogItemId}",
          "method": "PATCH",
          "host": ["{{ or (env `CATALOG_MANAGER_HOST`) `http://catalog-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/catalog-items/{catalogItemId}",
      "method": "DELETE",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/catalog-items/{catalogItemId}",
          "method": "DELETE",
          "host": ["{{ or (env `CATALOG_MANAGER_HOST`) `http://catalog-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/catalog-item-instances",
      "method": "GET",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/catalog-item-instances",
          "method": "GET",
          "host": ["{{ or (env `CATALOG_MANAGER_HOST`) `http://catalog-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/catalog-item-instances/{catalogItemInstanceId}",
      "method": "GET",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/catalog-item-instances/{catalogItemInstanceId}",
          "method": "GET",
          "host": ["{{ or (env `CATALOG_MANAGER_HOST`) `http://catalog-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/policies",
      "method": "GET",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/policies",
          "method": "GET",
          "host": ["{{ or (env `POLICY_MANAGER_HOST`) `http://policy-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/policies",
      "method": "POST",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/policies",
          "method": "POST",
          "host": ["{{ or (env `POLICY_MANAGER_HOST`) `http://policy-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/policies/{policyId}",
      "method": "GET",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/policies/{policyId}",
          "method": "GET",
          "host": ["{{ or (env `POLICY_MANAGER_HOST`) `http://policy-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/policies/{policyId}",
      "method": "PATCH",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/policies/{policyId}",
          "method": "PATCH",
          "host": ["{{ or (env `POLICY_MANAGER_HOST`) `http://policy-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/policies/{policyId}",
      "method": "DELETE",
      "backend": [
        {
          "url_pattern": "/api/v1alpha1/policies/{policyId}",
          "method": "DELETE",
          "host": ["{{ or (env `POLICY_MANAGER_HOST`) `http://policy-manager:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/applications",
      "method": "GET",
      "backend": [
        {
          "url_pattern": "/applications",
          "method": "GET",
          "host": ["{{ or (env `PLACEMENT_HOST`) `http://placement:8080` }}"]
        }
      ]
    },
    {
      "endpoint": "/api/v1alpha1/applications",
      "method": "POST",
      "backend": [
        {
          "url_pattern": "/applications",
          "method": "POST",
          "host": ["{{ or (env `PLACEMENT_HOST`) `http://placement:8080` }}"]
        }
      ]
    }
  ]
}
