{
  "$schema": "https://www.krakend.io/schema/v2.4/krakend.json",
  "version": 3,
  "name": "dcm-api-gateway",
  "port": 9080,
  "timeout": "2s",
  "output_encoding": "no-op",
  "endpoints": [
    {{- $first := true }}
    {{- range $ep := (index .endpoints "endpoints") }}
      {{- $path := index $ep "path" }}
      {{- $backend_path := or (index $ep "backend_path") $path }}
      {{- $host_env := index $ep "host_env" }}
      {{- $host_default := index $ep "host_default" }}
      {{- range $method := index $ep "methods" }}
        {{- if $first }}{{ $first = false }}{{ else }},{{ end }}
    {
      "endpoint": "{{ $path }}",
      "method": "{{ $method }}",
      "input_query_strings": ["*"],
      "backend": [
        {
          "url_pattern": "{{ $backend_path }}",
          "method": "{{ $method }}",
          "host": ["{{ or (env $host_env) $host_default }}"]
        }
      ]
    }
      {{- end }}
    {{- end }}
  ]
}
